@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Conheça o DeliFood!</h1>
    <p>Pedidos a pronta entrega com Delivery!</p>
</div>
<div class="text-center mapContainer">
<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d30669.11422774247!2d-47.98873601109704!3d-16.084197906622492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sRestaurante!5e0!3m2!1spt-BR!2sbr!4v1764281979471!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
